form {
    width: 100%;
    display: grid;
    gap: 1rem;

    .input-group {
        display: grid;
    }

    .checkbox {

        span {
            display: block;

            &.field-validation-error {
                position: static;
                top: 0;
                right: 0;
                @include text-s;
                color: var(--color-danger);
            }
        }
    }

    .checkbox-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;

        input[type="checkbox"] {
            height: 1.2rem;
            width: 1.2rem;
            border: 1px solid var(--color-danger);
        }

        label {
            margin-bottom: 0;
            font-weight: 400;
        }
    }

    label {
        margin-bottom: 7px;
        font-weight: 700;
    }

    input {
        padding: 0.5rem; //ändra här
        border-radius: 8px !important;
        border: 1px solid var(--color-gray-500);

        &:focus {
            outline: 1px solid var(--color-gray-800);
        }

        &::placeholder {
            opacity: 0.3;
        }

        &.input-validation-error {
            border: 1px solid var(--color-danger) !important;

            color: var(--color-danger);
            
            &::placeholder {
                color: var(--color-danger);
            }
        }
    }

    span {
        &.field-validation-error {
            position: absolute;
            top: 0;
            right: 0;
            @include text-s;
            color: var(--color-danger);
        }
    }

    textarea {
        padding: 1rem;
        border-radius: 0.5rem !important;
        border: 1px solid var(--color-gray-400);
        resize: none;

        &::placeholder {
            opacity: 0.4;
        }

        &.input-validation-error {
            border: 1px solid var(--color-danger) !important;
            color: var(--color-danger);

            &::placeholder {
                color: var(--color-danger);
            }
        }
    }
}
