@{
    ViewData["Title"] = "Access denied!";
}

<section class="notfound">
    <div class="container">
        <div class="content">
            <span class="d5">Ooops! Access denied</span>
            <p>Looks like you don´t have the rights to access this page</p>
            <a class="btn-theme" asp-controller="Home" asp-action="Index"><i class="fa-regular fa-house"></i>Go to homepage</a>
        </div>
    </div>
</section>