@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<section class="appdownload">
    <div class="container">
        <div class="content">
            <img src="~/images/image/imageapp.svg" alt="image of mobilephone">
        </div>
        <div class="appstores">
            <h2>Download Our App for Any Devices:</h2>
            <div class="phone">
                <img src="~/images/brands/app-store.svg" alt="app store">
            </div>
            <div>
                <img src="~/images/brands/google-play.svg" alt="google-play">
            </div>
        </div>
    </div>
</section>