<section class="contact">
    <div class="container">
        <div class="info-text">
            <i class="fa-regular fa-house"></i>
            <p>Home</p>
            <i class="fa-sharp fa-solid fa-forward"></i>
            <a href="#">Contact</a>
        </div>
        <h1>Contact Us</h1>
        <div class="aside">
            <div class="content">
                <img src="~/images/icons/icon-mail.svg" alt="">
                <div class="content-group">
                    <h4>Email us</h4>
                    <p>Please feel free to drop us a line. We will respond as soon as possible.</p>
                    <a href="#">Leave a message<i class="fa-regular fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="content">
                <img src="~/images/icons/icon-add.svg" alt="">
                <div class="content-group">
                    <h4>Careers</h4>
                    <p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
                    <a href="#">Send an application<i class="fa-regular fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="contact-form">
            <form method="post">
                <h2>Get In Contact With Us</h2>
                <div class="content">
                    <div id="form-fullname" class="input-group">
                        <label for="fullname">Full name</label>
                        <input type="text">
                    </div>
                    <div id="form-email" class="input-group">
                        <label for="email">Email address</label>
                        <input type="text">
                    </div>
                    <div id="form-service" class="input-group">
                        <label for="service">Service <span>(Optional)</span></label>
                        <select id="select-service" name="select" title="select-service">
                            <option class="option" value="option"></option>
                            <option class="option" value="option"></option>
                            <option class="option" value="option"></option>
                        </select>
                    </div>
                    <div id="form-message" class="input-group">
                        <label for="message">Message</label>
                        <textarea class="message" name="message" rows="7" cols="50">Enter your message here..</textarea>
                    </div>
                    <button id="form-button" class="btn-theme" type="submit">Send Contact Request</button>
                </div>
            </form>
        </div>
    </div>
    <img class="map" src="~/images/image/map.svg" alt="map">
</section>
