<section class="courses-showcase">
    <div class="container">
        <div class="info-text">
            <i class="fa-regular fa-house"></i>
            <p>Home</p>
            <i class="fa-sharp fa-solid fa-forward"></i>
            <a href="#">Courses</a>
        </div>
        <div class="menu">
            <div class="content">
                <h1>Courses</h1>
                <div class="input-menu">
                    <div class="dropdown">
                        <div class="styled">
                            <select id="select-course" name="select" title="select-course">
                                <option class="categories" value="categories">All categories</option>
                                <option value="fullstack">Fullstack Web Developer</option>
                                <option value="html-css-js">HTML, CSS, JavaScript</option>
                                <option value="frontend">Front-End Web Development</option>
                                <option value="iosapp">iOS App Development</option>
                                <option value="datascience">Data Science & Machine Learning</option>
                                <option value="css-drawing">CSS Drawing Course</option>
                                <option value="video-game">Video Games Design</option>
                                <option value="mobile-game"> Mobile Game Development</option>
                                <option value="Testing">Testing</option>
                            </select>
                            <div class="search-box active">
                                <span>
                                    <i class="fa-regular fa-magnifying-glass"></i>
                                </span>
                                <input class="search" type="text" placeholder="Search courses">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>