<section class="full-description">
    <img class="header-img" src="~/images/image/HeaderCourses.svg" alt="">
    <div class="container">
        <div class="content">
            <div class="course-description">
                <h1>Course Description</h1>
                <p>Suspendisse natoque sagittis, consequat turpis. Sed tristique tellus morbi magna. At vel senectus accumsan, arcu mattis id tempor. Tellus sagittis, euismod porttitor sed tortor est id. Feugiat velit velit, tortor ut. Ut libero cursus nibh lorem urna amet tristique leo. Viverra lorem arcu nam nunc at ipsum quam. A proin id sagittis dignissim mauris condimentum ornare. Tempus mauris sed dictum ultrices.</p>
                <div class="learnings">
                    <h3>What you'll learn</h3>
                    <div class="listcheck">
                        <div>
                            <i class="fa-sharp fa-regular fa-circle-check"></i>
                        </div>
                        <p>Sed lectus donec amet eu turpis interdum.</p>
                    </div>
                    <div class="listcheck">
                        <div>
                            <i class="fa-sharp fa-regular fa-circle-check"></i>
                        </div>
                        <p>Nulla at consectetur vitae dignissim porttitor.</p>
                    </div>
                    <div class="listcheck">
                        <div>
                            <i class="fa-sharp fa-regular fa-circle-check"></i>
                        </div>
                        <p>Phasellus id vitae dui aliquet mi.</p>
                    </div>
                    <div class="listcheck">
                        <div>
                            <i class="fa-sharp fa-regular fa-circle-check"></i>
                        </div>
                        <p>Integer cursus vitae, odio feugiat iaculis aliquet diam, et purus.</p>
                    </div>
                    <div class="listcheck">
                        <div>
                            <i class="fa-sharp fa-regular fa-circle-check"></i>
                        </div>
                        <p>In aenean dolor diam tortor orci eu.</p>
                    </div>
                </div>
            </div>
            <div class="includes">
                <div class="box">
                    <h4>This course includes:</h4>
                    <img src="~/images/brands/list.svg" alt="">
                    <div class="price">
                        <h2>$28.99</h2>
                        <h5>$49.00</h5>
                    </div>
                    <button class="btn-theme">Join course</button>
                </div>
            </div>
        </div>
        <div class="details">
            <h1>Program Details</h1>
            <div class="linear">
                <div class="content">
                    <div>
                        <img src="~/images/icons/1.svg" alt="">
                    </div>
                    <div>
                        <h4>Introduction. Getting started</h4>
                        <p>Nulla faucibus mauris pellentesque blandit faucibus non. Sit ut et at suspendisse gravida hendrerit tempus placerat.</p>
                    </div>
                </div>
                <div class="content">
                    <div>
                        <img src="~/images/icons/2.svg" alt="">
                    </div>
                    <div>
                        <h4>The ultimate HTML developer: advanced HTML</h4>
                        <p>Lobortis diam elit id nibh ultrices sed penatibus donec. Nibh iaculis eu sit cras ultricies. Nam eu eget etiam egestas donec scelerisque ut ac enim. Vitae ac nisl, enim nec accumsan vitae est.</p>
                    </div>
                </div>
                <div class="content">
                    <div>
                        <img src="~/images/icons/3.svg" alt="">
                    </div>
                    <div>
                        <h4>CSS & CSS3: basic</h4>
                        <p>Duis euismod enim, facilisis risus tellus pharetra lectus diam neque. Nec ultrices mi faucibus est. Magna ullamcorper potenti elementum ultricies auctor nec volutpat augue.</p>
                    </div>
                </div>
                <div class="content">
                    <div>
                        <img src="~/images/icons/4.svg" alt="">
                    </div>
                    <div>
                        <h4>JavaScript basics for beginners</h4>
                        <p>Morbi porttitor risus imperdiet a, nisl mattis. Amet, faucibus eget in platea vitae, velit, erat eget velit. At lacus ut proin erat.</p>
                    </div>
                </div>
                <div class="content">
                    <div>
                        <img src="~/images/icons/5.svg" alt="">
                    </div>
                    <div>
                        <h4>Understanding APIs</h4>
                        <p>Risus morbi euismod in congue scelerisque fusce pellentesque diam consequat. Nisi mauris nibh sed est morbi amet arcu urna. Malesuada feugiat quisque consectetur elementum diam vitae. Dictumst facilisis odio eu quis maecenas risus odio fames bibendum.</p>
                    </div>
                </div>
                <div class="content">
                    <div>
                        <img src="~/images/icons/6.svg" alt="">
                    </div>
                    <div>
                        <h4>C# and .NET from beginner to advanced</h4>
                        <p>Quis risus quisque diam diam. Volutpat neque eget eu faucibus sed urna fermentum risus. Est, mauris morbi nibh massa.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="learn-from">
            <div class="img">
                <img class="profile" src="~/images/image/albert-floresImg.svg" alt="">
                <img class="pattern" src="~/images/image/pattern.svg" alt="">
            </div>
            <div class="info">
                <span>Learn from the best</span>
                <h1>Albert Flores</h1>
                <p>Dolor ipsum amet cursus quisque porta adipiscing. Lorem convallis malesuada sed maecenas. Ac dui at vitae mauris cursus in nullam porta sem. Quis pellentesque elementum ac bibendum. Nunc aliquam in tortor facilisis. Vulputate eget risus, metus phasellus. Pellentesque faucibus amet, eleifend diam quam condimentum convallis ultricies. Duis habitasse placerat amet, odio pellentesque rhoncus, feugiat at. Eget pellentesque tristique felis magna fringilla.</p>
                <div class="buttons">
                    <button class="btn-youtube"><i class="fa-brands fa-youtube"></i>240k subscribers</button>
                    <button class="btn-theme"><i class="fa-brands fa-square-facebook"></i>180k followers</button>
                </div>
            </div>
        </div>
    </div>
</section>