<section class="features">
    <div class="container">
        <div class="headline">
            <h2>What Do You Get with Our Tool?</h2>
            <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
        </div>
        <div class="feature-boxes">
            <a class="tool-links" href="#">
                <img src="~/images/icons/iconmessage.svg">
                <h6>Comments on Tasks</h6>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </a>
            <a class="tool-links" href="#">
                <img src="~/images/icons/iconanalytics.svg">
                <h6>Tasks Analytics</h6>
                <p>Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
            </a>
            <a class="tool-links" href="#">
                <img src="~/images/icons/iconadd.svg">
                <h6>Multiple Assignees</h6>
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </a>
            <a class="tool-links" href="#">
                <img src="~/images/icons/iconnotifications.svg">
                <h6>Notifications</h6>
                <p>Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
            </a>
            <a class="tool-links" href="#">
                <img src="~/images/icons/icontasks.svg">
                <h6>Sections & Subtasks</h6>
                <p>Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
            </a>
            <a class="tool-links" href="#">
                <img src="~/images/icons/iconsecurity.svg">
                <h6>Data Security</h6>
                <p>Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
            </a>
        </div>
    </div>
</section>


