<section class="getstarted">
    <div class="container">
        <div class="content">
            <p>Ready to get started?</p>
            <h1>Take Your<span> Skills</span> to the Next Level</h1>
            <div>
                <button class="btn-theme">Work with us</button>
            </div>
        </div>
        <div>
            <img src="~/images/image/group.svg" alt="drawing of a desktop, woman & laptop">
        </div>
    </div>
</section>