@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<section class="managework">
    <div class="container">
        <div class="content">
            <div>
                <img src="~/images/image/imagedashboard.svg" alt="image of a dashboard">
            </div>
            <div>
                <h2>Manage Your Work</h2>
                <div class="listcheck">
                    <div>
                        <i class="fa-sharp fa-regular fa-circle-check"></i>
                    </div>
                    <p>Powerful project management</p>
                </div>
                <div class="listcheck">
                    <div>
                        <i class="fa-sharp fa-regular fa-circle-check"></i>
                    </div>
                    <p>Transparent work management</p>
                </div>
                <div class="listcheck">
                    <div>
                        <i class="fa-sharp fa-regular fa-circle-check"></i>
                    </div>
                    <p>Manage work & focus on the most important tasks</p>
                </div>
                <div class="listcheck">
                    <div>
                        <i class="fa-sharp fa-regular fa-circle-check"></i>
                    </div>
                    <p>Track your progress with interactive charts</p>
                </div>
                <div class="listcheck">
                    <div>
                        <i class="fa-sharp fa-regular fa-circle-check"></i>
                    </div>
                    <p>Easiest way to track time spent on tasks</p>
                </div>
                <a class="btn-theme" href="#">Learn more<i class="fa-regular fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
